.atoc {
    top: 50px;
    max-height: 400px;
    overflow: auto;
}

pre[class*="language-"] {
    max-height: 500px;
}

.markdown-section table{
    display: block;
}

.atoc li{
    margin: 0 20px 0 0;
}

.gitbook-donate{
    width: 0% !important;
    position: fixed;
    right: 150px;
    bottom: 0px;
}

#QR {
    padding-top: 20px;
    position: fixed;
    bottom: 0px;
    right: 25px;
    display: block !important;
}

.gitbook-donate #wechat, .gitbook-donate #alipay {
    display: inline-block;
    width: 100px;
    margin-right: 25px;
}

.gitbook-donate p{
    text-align: right;
}

.gitbook-donate div:first-child{
    display: block;
    width: 200px;
    position: relative;
    right: 85px;
    bottom: 130px;
}

#rewardButton {
    display: none;
}

#wechat {
    bottom: 0px;
    right: 15px;
}

#wechat:hover p, #alipay:hover p{
    animation: none !important;
    -webkit-animation: none !important;
}

.book-summary {
    width: 220px !important;
}

.book-body {
    left: 220px !important;
}

.navigation.navigation-next {
    right: 240px !important;
}

.treeview__container-title {
    display: none;
}

@media screen and (max-width: 600px) {
    .movie {
        display: none;
    }
}

@media screen and (max-width: 1500px) and (min-width: 1000px) {
    .page-inner {
        margin: 0 100px 0 100px !important;
        max-width: 800px !important;
    }
}

@media screen and (min-width: 1500px) {
    .page-inner {
        margin: 0 100px 0 100px !important;
        max-width: 1250px !important;
    }
}