.atoc {
    top: 50px;
    max-height: 400px;
    overflow: auto;
}

pre[class*="language-"] {
    max-height: 500px;
}

.markdown-section table{
    display: block;
}

.atoc li{
    margin: 0 20px 0 0;
}

.gitbook-donate{
    width: 0% !important;
    position: fixed;
    right: 150px;
    bottom: 10px;
}

#QR {
    padding-top: 20px;
    position: fixed;
    bottom: 100px;
    right: 10px;
}

.gitbook-donate #wechat, .gitbook-donate #alipay {
    display: inline-block;
    width: 100px;
    margin-right: 25px;
}

.gitbook-donate p{
    text-align: right;
}

.gitbook-donate:first-child{
    display: none;
}